# FILES
*.VC.db
*.VC.opendb
*.sdf
*.pdb
*.dll
*.exe
*.ilk
*.opensdf
*.idb
*.suo
*.dylib
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
imgui.ini
*.txt
*.aps
cmake_install.cmake
HabiCAT3D_Version.h
HabiCAT3D_Tests.xml

# Folders
Debug/
Release/
.vs/
CMakeFiles/

# Folders to include
!ThirdParty/boost/preprocessor/debug